<%# Shows pending matches %>

<%= turbo_stream_from "user_#{current_user.id}_pending_matches" %>
<div id="pending_matches">
  <ul>
  <% @matches.each do |match| %>
  <%= render match %>
  <% end %>
  </ul>
</div>
<%# <div id="<%= dom_id(current_user, :matches) "></div> %>
