<div class="d-flex flex-column">
  <div class="d-inline-flex p-2 justify-content-center">
    <h1>Doggy Preferences</h1>
  </div>
  <div class="d-inline-flex p-2">
    <form action="/matches" method="get">
    <label for="distance" class="form-label"><h5>Distance from me (km)</h5></label>
    <br>
    <input id="distance" type="range" value="10" min="1" max="20" step="1" oninput="this.nextElementSibling.value = this.value">
    <output>10</output>
  </div>
  <div class="d-flex flex-column p-2 mb-2">
    <h5>Gender</h5>
      <div class="d-inline-flex">
        <input class="settings-button" id="gender_female" name="gender[]" type="checkbox" value="female" />
        <label for="gender_female">Female</label>
        <input class="settings-button" id="gender_male" name="gender[]" type="checkbox" value="male" />
        <label for="gender_male">Male</label>
      </div>
  </div>
  <div class="d-flex flex-column p-2 mb-2">
    <h5>Size</h5>
      <div class="d-inline-flex p-2">
        <input class="settings-button" id="size_small" name="size[]" type="checkbox" value="small" />
        <label for="size_small">Small</label>
        <input class="settings-button" id="size_medium" name="size[]" type="checkbox" value="medium" />
        <label for="size_medium">Medium</label>
        <input class="settings-button" id="size_large" name="size[]" type="checkbox" value="large" />
        <label for="size_large">Large</label>
      </div>
  </div>
  <div class="d-flex flex-column justify-content-center">
    <input class="btn btn-submit" type="submit" value="Submit">
  </div>
  <div>
    <%= submit_tag "Reset", :class => "inputsubmit", :type => "reset" %>
  </div>
  </form>
</div>
