<h1>Settings</h1>

<h2>Distance from me:</h2>


<div>
<form action="/matches">
  <ul>
    <li>
    <h2>Age</h2>
        <div class="tag-item">
          <input class="settings-button" id="age_puppy" name="age" type="checkbox" value="puppy" />
          <label for="age_puppy">4-12 months</label>
          <input class="settings-button" id="age_young" name="age" type="checkbox" value="young" />
          <label for="age_young">1-3 years</label>
          <input class="settings-button" id="age_mid" name="age" type="checkbox" value="mid" />
          <label for="age_mid">4-9 years</label>
          <input class="settings-button" id="age_senior" name="age" type="checkbox" value="senior" />
          <label for="age_senior">10+ years</label>
        </div>
    </li>
    <li>
      <h2>Gender</h2>
        <div class="tag-item">
          <input class="settings-button" id="gender_male" name="gender" type="checkbox" value="male" />
          <label for="gender_male">Male</label>
          <input class="settings-button" id="gender_female" name="gender" type="checkbox" value="female" />
          <label for="gender_female">Female</label>
        </div>
    </li>
    <li>
      <h2>Size</h2>
        <div class="tag-item">
          <input class="settings-button" id="size_small" name="size" type="checkbox" value="small" />
          <label for="size_small">Small</label>
          <input class="settings-button" id="size_medium" name="size" type="checkbox" value="medium" />
          <label for="size_medium">Medium</label>
          <input class="settings-button" id="size_large" name="size" type="checkbox" value="large" />
          <label for="size_large">Large</label>
          <input class="settings-button" id="size_horse" name="size" type="checkbox" value="horse" />
          <label for="size_horse">Horse</label>
        </div>
    </li>
    <li>
      <h2>Personality</h2>
        <div class="tag-item">
          <input class="settings-button" id="personality_slow" name="personality" type="checkbox" value="slow" />
          <label for="personality_slow">Slow</label>
          <input class="settings-button" id="personality_fast" name="personality" type="checkbox" value="fast" />
          <label for="personality_fast">Fast</label>
          <input class="settings-button" id="personality_playful" name="personality" type="checkbox" value="playful" />
          <label for="personality_playful">Playful</label>
          <input class="settings-button" id="personality_rough" name="personality" type="checkbox" value="rough" />
          <label for="personality_rough">Rough</label>
          <input class="settings-button" id="personality_quiet" name="personality" type="checkbox" value="quiet" />
          <label for="personality_quiet">Quiet</label>
          <input class="settings-button" id="personality_energetic" name="personality" type="checkbox" value="energetic" />
          <label for="personality_energetic">Energetic</label>
    </li>
  </ul>
  <input type="submit" value="Submit">
  </form>
  <button>Reset/Clear</button>
</div>

<button><h3>Log Out</h3></button>


<%# var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
} %>
