<div class="container">
  <h1>About Zoomies</h1>
  <p>Zoomies is a social app for dog owners to meet other dog owners in order to socialise their dogs.
  It was developed as part of the <a href="https://www.lewagon.com/melbourne">Le Wagon</a> web development bootcamp.</p>
  <h1>Meet the dev team</h1>
  <p>William Robinson</p>
  <ul>
  <li><a href="https://www.linkedin.com/in/william-robinson-043890165/">Linkedin</a></li>
  <li><a href="https://github.com/willjamesrobinson">Github</a></li>
  </ul>
  <p>Anna Pitt</p>
  <ul>
  <li><a href="https://www.linkedin.com/in/anna-pitt-b2341986/">Linkedin</a></li>
  <li><a href="https://github.com/annapitt">Github</a></li>
  </ul>
  <p>Lachlan Bennetts</p>
  <ul>
  <li><a href="https://www.linkedin.com/in/lachlan-bennetts/">Linkedin</a></li>
  <li><a href="https://github.com/lachlan-bennetts">Github</a></li>
  </ul>
  <p>Ariani Plukaard</p>
  <ul>
  <li><a href="https://www.linkedin.com/in/arianiplukaard/">Linkedin</a></li>
  <li><a href="https://github.com/ariani-plukaard">Github</a></li>
  </ul>
</div>
