.wrapper{
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
  width:0;
}

.wrapper .item {
  min-width: 70px;
  text-align: center;
  margin-right:2px;
  overflow: hidden;
  background: white;
  padding: 17px;
  background-color: rgba(81,146,89,0.1);
  border-radius: 20px;
}

.wrapper .item img {
  border-radius: 50%;
}

.wrapper .item a {
  color: black;
}
