.wrapper{
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
  width:0;
}

.wrapper .item {
  min-width: 70px;
  text-align: center;
  margin-right:2px;
  overflow: hidden;
  background: white;
  padding: 17px;
  border-radius: 20px;
  padding-bottom: 0px;
  background-color: rgb(255, 237, 211);
  box-shadow: 2px 2px 2px #d98405;
}

.wrapper .item img {
  border-radius: 50%;
}

.wrapper .item a {
  color: black;
}

.wrapper .item p {
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  // background-color: rgba(233,142,7,0.25);
}

body {
  background-color: rgba(233,142,7,0.25);
}

html {
  background-color: rgba(233,142,7,0.25);
}
