.mapboxgl-popup {
  width: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}

.mapboxgl-popup-content img {
  object-fit: cover;
  border: 1px solid black;
}

.mapboxgl-popup-content p {
 margin-bottom: 0;
}
