.settings-button {
  position: absolute;
  transform: scale(0);
}

.settings-button + label {
  cursor: pointer;
  border: solid #064635;
  color: #064635;
  background-color: #F0BB62;
  border-radius: 16px;
  padding: 5px;
  width: 80px;
  text-align: center;
  font-size: 12px;
  margin: 5px;
}

.settings-button:checked + label {
  color: #F0BB62;
  background-color: #064635;
}

.tag-item {
  display: inline-block;
}
